<head th:replace="~{/include/header :: header}"></head>
<title>신고 내역 전체 조회</title>
<style>
/* 표 스타일 */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #0D6EFD;
	text-align: left;
	color:white;
}

h2 {
	font-weight: bold;
	padding: 8px;
	margin-top: 12px;
	text-align: center;
}
</style>

<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="row border rounded-5 p-3 bg-white shadow box-area"
			style="margin-top: 30px; margin-bottom: 30px;">
			<h2>Reports⚠️</h2>
			<div style="font-size: 14px; font-weight: bold; color: blue;">[[${message}]]</div>
			<table>
				<thead>
					<tr>
						<th>Reporter ID</th>
						<th>Target ID</th>
						<th>Report Content</th>
						<th>Report Status</th>
						<th>신고 처리</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="report : ${reports}">
						<td th:text="${report.reportId}"></td>
						<td th:text="${report.reporterId}"></td>
						<td th:text="${report.targetId}"></td>
						<td th:text="${report.reportContent}"></td>
						<td><span th:text="${report.reportStatus}"></span></td>
						<td>
							<form th:action="@{/admin/reports/change-status}" method="post">
								<input type="hidden" name="reportId"
									th:value="${report.reportId}"> <select
									name="reportStatus" class="form-select">
									<option value="C" th:selected="${report.reportStatus == 'C'}">Complete</option>
									<option value="R" th:selected="${report.reportStatus == 'R'}">Receiving</option>
								</select>
								<div class="input-group mt-2">
									<button class="btn btn-lg btn-primary w-90 fs-6 fw-bold"
										type="submit">Change Status</button>
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="~{/include/footer :: footer}"></footer>
</body>
</html>

