<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/include/header :: header}">

<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body" style="width:1300px">
                    <h5 class="card-title">Notice</h5>
                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr style="display: flex">
                            <th scope="col" style="flex-grow:0">#</th>
                            <th scope="col" style="flex-grow:1">알림 내용</th>
                            <th scope="col" style="flex-grow:1">알림 일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="notice, rowStat : ${notices}" style="display: flex">
                            <th scope="row" th:text="${rowStat.count}" style="flex-grow:0">1</th>
                            <td style="text-align:left; flex-grow:1"> <span th:utext="${notice.noticeContent + '가 되셨음을 알려드립니다.'}"></span></td>
                            <td style="text-align:left; flex-grow:1" th:text="${notice.createdAt}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </div>
</div>

</section>
<footer th:replace="~{/include/footer :: footer}"></footer>
</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="http://code.jquery.com/jquery-3.7.0.min.js"></script>

</body>

</html>




