<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/include/admin-header :: header}">
<body >
<div th:replace="~{/include/admin-body-header :: bodyHeader}"></div>
<div id="layoutSidenav">
	<div id="layoutSidenav_nav">
		<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
			<div class="sb-sidenav-menu">
				<div class="nav">
					<div class="sb-sidenav-menu-heading">Core</div>
					<a class="nav-link" href="/admin/main">
						<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
						사용자 통계
					</a>
					<a class="nav-link" href="/admin/reports">
						<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
						신고 처리 및 신고 내역
					</a>
					<a class="nav-link" href="/admin/photos">
						<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
						사진 검열
					</a>
				</div>
			</div>
			<div class="sb-sidenav-footer">
				<div class="small">Logged in as:</div>
				금오도
			</div>
		</nav>
	</div>
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">사진 검열</h1>
			</div>


			<div class="container d-flex justify-content-center align-items-center min-vh-100">
				<div class="row border rounded-2 p-3 bg-white shadow custom-box-area" style="max-width: 1200px;"> <!-- 가로 폭을 원하는 크기로 조정 -->
					<div class="pagetitle">
						<h1>Photos</h1>
					</div>
					<div style="font-size: 14px; color: blue;">[[${message}]]</div>
					<div th:each="usersWithPhotosFinal : ${allUsersWithPhotosFinal}">
						<h2 th:text="${usersWithPhotosFinal.userName}"></h2>
						<table>

							<thead>
							<tr>
								<th>Photo</th>
								<th>Delete</th>
								<th>Photo</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="row : ${usersWithPhotosFinal.photos}"
								th:if="${rowStat.index % 2 == 0}">
								<td>
									<!-- 첫 번째 사진의 이미지 파일 경로 설정 --> <a
										th:href="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${row.photoFileName}}"
										data-lightbox="photos" data-title="User Photo"> <img
										th:src="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${row.photoFileName}}"
										width="200" height="200" alt="Photo">
								</a>
								</td>
								<td>
									<form
											th:action="@{/admin/photos/delete/{photoId}/{userId}(photoId=${row.photoId},userId=${usersWithPhotosFinal.userId})}"
											method="post">
										<div class="input-group mt-2">
											<button class="btn btn-lg btn-primary w-90 fs-6 fw-bold"
													type="submit">Delete</button>
										</div>
									</form>
								</td>

								<!-- 두 번째 사진의 이미지 파일 경로 설정 -->
								<td
										th:if="${rowStat.index + 1 < #lists.size(usersWithPhotosFinal.photos)}">
									<a
											th:href="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${usersWithPhotosFinal.photos[rowStat.index + 1].photoFileName}}"
											data-lightbox="photos" data-title="User Photo"> <img
											th:src="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${usersWithPhotosFinal.photos[rowStat.index + 1].photoFileName}}"
											width="200" height="200" alt="Photo">
									</a>
								</td>
								<td
										th:if="${rowStat.index + 1 < #lists.size(usersWithPhotosFinal.photos)}">
									<form
											th:action="@{/admin/photos/delete/{photoId}/{userId}(photoId=${usersWithPhotosFinal.photos[rowStat.index + 1].photoId},userId=${usersWithPhotosFinal.userId})}"
											method="post">
										<div class="input-group mt-2">
											<button class="btn btn-lg btn-primary w-90 fs-6 fw-bold"
													type="submit">Delete</button>
										</div>
									</form>
								</td>
							</tr>
							</tbody>
						</table>

					</div>

				</div>
			</div>


		</main>
		<footer class="py-4 bg-light mt-auto">
			<div class="container-fluid px-4">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-muted">Copyright &copy; Your Website 2021</div>
					<div>
						<a href="#">Privacy Policy</a>
						&middot;
						<a href="#">Terms &amp; Conditions</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
<!--여기 끝-->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<script
		src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
</body>
</html>
