<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/include/header :: header}"></head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>신고 내역 전체 조회</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</style>

<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<nav class="header-nav ms-auto">
  <ul class="d-flex align-items-center">
    <a class="nav-link nav-icon search-bar-toggle " href="#">
    </a>
  </ul>
</nav> <!-- nav 요소 닫기 -->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>All Reports</h1>
  </div><!-- End Page Title -->

  <section class="section" style="padding-right: 100px;">
    <div class="container"> <!-- container 추가 -->
      <div>
        <div class="col-lg-10"> <!-- 컬럼 크기 조절 -->
          <div class="card">
            <div class="card-body ml-30"> <!-- 왼쪽으로 3px만큼 이동 -->

              <h5 class="card-title">Reports</h5>
              <div style="font-size: 14px; color: blue;">[[${message}]]</div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                <tr>
                  <th scope="col" data-sorter="numeric">#</th> <!-- 숫자로 정렬되도록 설정 -->
                  <th scope="col" data-sorter="text">Reporter ID</th> <!-- 문자열로 정렬되도록 설정 -->
                  <th scope="col" data-sorter="text">Target ID</th> <!-- 문자열로 정렬되도록 설정 -->
                  <th scope="col" data-sorter="text">Report Content</th> <!-- 문자열로 정렬되도록 설정 -->
                  <th scope="col" data-sorter="text">Report Status</th> <!-- 문자열로 정렬되도록 설정 -->
                  <th scope="col" data-sortable="false" style="width: 23.940677966101696%;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report, reportStatus : ${reports}"> <!-- reportStatus 변수 사용 -->
                  <th scope="row" th:text="${reportStatus.count}"></th> <!-- 각 행 번호 표시 -->
                  <td th:text="${report.reporterId}"></td>
                  <td th:text="${report.targetId}"></td>
                  <td th:text="${report.reportContent}"></td>
                  <td th:text="${report.reportStatus}"></td>
                  <td> <!-- Action 열에 delete 버튼 추가 -->
                    <form th:action="@{/admin/reports/change-status}" method="post">
                      <input type="hidden" name="reportId"
                             th:value="${report.reportId}"> <select
                            name="reportStatus" class="form-select">
                      <option value="C" th:selected="${report.reportStatus == 'C'}">Complete</option>
                      <option value="R" th:selected="${report.reportStatus == 'R'}">Receiving</option>
                    </select>
                      <div class="input-group mt-2">
                        <button class="btn btn-lg btn-primary w-90 fs-6 fw-bold"
                                type="submit">Change Status</button>
                      </div>
                    </form>
                  </td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </div>
       <footer th:replace="~{/include/footer :: footer}"></footer>
  </section>
</main><!-- End #main -->

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
</html>
