<head th:replace="~{/include/header :: header}"</head>
<title>신고 페이지</title>
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="row border rounded-5 p-3 bg-white shadow box-area">
			<div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
				style="background: url('/admin/assets/img/report1.jpg'); background-position: center; background-size: cover;">
			</div>
			<div class="col-md-6 right-box">
				<form action="/admin/submit" method="post">
					<div class="row align-items-center">
						<div class="header-text mb-4">
							<h2	style="font-weight: bold; font-size: 1.8em; text-align: center;">신고 사유 선택</h2>
						</div>
						<div class="input-group mb-5" style="display: block">
							<input type="hidden" name="targetId" th:value="${targetId}" />
							<div th:each="reportContent : ${reportContents}" style="margin-bottom: 10px">
								<input type="radio" th:value="${reportContent}"	name="reportContent"> <label th:text="${reportContent}"></label>
							</div>
						</div>
						<div style="font-size: 15px; font-weight: bold; color: red;">[[${message}]]</div>
						<div class="input-group mt-2">
							<button class="btn btn-lg btn-primary w-100 fs-6 fw-bold"
								type="submit">신고하기</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="~{/include/footer :: footer}"></footer>
</body>
</html>
