<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}">
</head>
<body>
	<div th:replace="~{/include/body-header :: bodyHeader}"></div>
	<h1>아쿠아리움</h1>
	<br>
	<br>
	<br>
		<div id="tab-1" class="tab-content current">
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i> 나의 아쿠아리움
				</div>
				<div class="card-body">
					<table class="datatable table table-striped" style="width: 100%">
						<thead style="text-align: center;">
							<tr>
								<th>Aquarium ID</th>
								<th>Fishermen ID</th>
								<th>Fish ID</th>
								<th>이름</th>
								<th>출생년도</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="aquarium : ${aquariumList}">
								<td th:text="${aquarium.aquariumId}"></td>
								<td th:text="${aquarium.fishermenId}"></td>
								<td th:text="${aquarium.fishId}"></td>
								<td th:text="${aquarium.fishName}"></td>
								<td th:text="${aquarium.fishAge}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
				<footer th:replace="~{/include/footer :: footer}"></footer>
				<script src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
</body>
</html>