<head th:replace="~{/include/header :: header}"></head>
<title>프로필 사진 전체 조회</title>
<style>
/* 표 스타일 */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	width: 150px;
}

th {
	background-color: #f2f2f2;
	text-align: left;
}

h2 {
	font-weight: bold;
	margin-top: 15px;
}
</style>

<body>
	<div
		class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="row border rounded-5 p-3 bg-white shadow box-area"
			style="margin-top: 30px; margin-bottom: 30px;">
			<h1
				style="font-weight: bold; text-align: center; margin-bottom: 0px; margin-top: 3px;">User
				Photos📸</h1>
			<div style="font-size: 14px; font-weight: bold; color: blue;">[[${message}]]</div>
			<div th:each="usersWithPhotosFinal : ${allUsersWithPhotosFinal}">
				<h2 th:text="${usersWithPhotosFinal.userName}"></h2>
				<table>
					<thead>
						<tr>
							<th>Photo</th>
							<th>Delete</th>
							<th>Photo</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${usersWithPhotosFinal.photos}"
							th:if="${rowStat.index % 2 == 0}">
							<td>
								<!-- 첫 번째 사진의 이미지 파일 경로 설정 --> <a
								th:href="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${row.photoFileName}}"
								data-lightbox="photos" data-title="User Photo"> <img
									th:src="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${row.photoFileName}}"
									width="200" height="150" alt="Photo">
							</a>
							</td>
							<td>
								<form
									th:action="@{/admin/photos/delete/{photoId}/{userId}(photoId=${row.photoId},userId=${usersWithPhotosFinal.userId})}"
									method="post">
									<div class="input-group mt-2">
										<button class="btn btn-lg btn-primary w-90 fs-6 fw-bold"
											type="submit">Delete</button>
									</div>
								</form>
							</td>

							<!-- 두 번째 사진의 이미지 파일 경로 설정 -->
							<td
								th:if="${rowStat.index + 1 < #lists.size(usersWithPhotosFinal.photos)}">
								<a
								th:href="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${usersWithPhotosFinal.photos[rowStat.index + 1].photoFileName}}"
								data-lightbox="photos" data-title="User Photo"> <img
									th:src="@{'/ocean/assets/img/userImg/' + ${usersWithPhotosFinal.userEmail} + '/' + ${usersWithPhotosFinal.photos[rowStat.index + 1].photoFileName}}"
									width="200" height="150" alt="Photo">
							</a>
							</td>
							<td
								th:if="${rowStat.index + 1 < #lists.size(usersWithPhotosFinal.photos)}">
								<form
									th:action="@{/admin/photos/delete/{photoId}/{userId}(photoId=${usersWithPhotosFinal.photos[rowStat.index + 1].photoId},userId=${usersWithPhotosFinal.userId})}"
									method="post">
									<div class="input-group mt-2">
										<button class="btn btn-lg btn-primary w-90 fs-6 fw-bold"
											type="submit">Delete</button>
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
	<footer th:replace="~{/include/footer :: footer}"></footer>
</body>
</html>
