<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}"></head>
<title>알림 내역</title>

<style>
/* 표 스타일 */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #0D6EFD;
	text-align: left;
	color:white;
}

h2 {
	font-weight: bold;
	padding: 8px;
	margin-top: 12px;
}
</style>

<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="row border rounded-5 p-3 bg-white shadow box-area"
			style="margin-top: 30px; margin-bottom: 30px;">
			<h1
				style="font-weight: bold; text-align: center; margin-bottom: 10px; margin-top: 5px;">Notice📢</h1>
    <table>
        <tr>
            <th>알림 내용</th>
            <th>알림 일시</th>
        </tr>
        <!-- 이 부분은 컨트롤러에서 모델에 넣은 알림 데이터를 반복해서 표시합니다. -->
        <tr th:each="notice : ${notices}">
            <td>
                <span th:utext="${notice.noticeContent + '가 되셨음을 알려드립니다.'}"></span>
            </td>
            <td th:text="${notice.createdAt}"></td>
        </tr>
    </table>
    </div>
    </div>
    <footer th:replace="~{/include/footer :: footer}"></footer>
</body>
</html>
