.custom-box-area {
    padding: 20px; /* 원하는 padding 값으로 조정 */
    width: 80%; /* 원하는 가로 크기로 조정 */
}
/* 표 스타일 */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 80px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

h2 {
    margin-top: 15px; font-size: 1.5em;
}
