<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.geumodoIsland.photo.dao.IPhotoRepository">

    <!-- 사용자 프로필 사진 조회 -->
    <select id="selectUserPhoto" parameterType="int" resultType="com.example.geumodoIsland.photo.model.Photo">
        <![CDATA[
        SELECT photo_file_name AS "photoFileName"
        FROM photo
        where user_id = #{userId}
        ]]>
    </select>
    
    <insert id="insertUserPhoto" parameterType="com.example.geumodoIsland.user.model.UserPhoto">
    	<selectKey keyProperty="photoId" resultType="int" order="BEFORE">
    		SELECT PHOTO_SEQ.NEXTVAL FROM DUAL
    	</selectKey>
    	<![CDATA[
	        INSERT INTO
	        	photo ( photo_id, photo_file_name, user_id)
	        VALUES
        	(#{photoId}, #{photoFileName}, #{userId})
        ]]>
    </insert>
    
</mapper>